html, body {
    font-family: 'Poiret One', cursive;
    color: #613f38;
}

.nav {
    position: fixed;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 1;
}

.nav.scrolled {
    background-color: #fff;
    transition: 300ms ease-in;
}

.menu-open {
    position: absolute;
    line-height: 70px;
    left: 1.4rem;
    cursor: pointer;
}

i {
    font-size: 1rem;
    line-height: 70px;
    color: #613f38;
}

.brand span .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    line-height: 70px;
    font-weight: 900;
    font-family: 'Poiret One', cursive;
    color: #613f38;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.brand a:hover {
    text-decoration: none;
}

.cart {
    position: absolute;
    line-height: 70px;
    right: 1.4rem;
}

.menu {
    position: fixed;
    width: 100vw;
    top: -50%;
    height: 50%;
    background: rgba(97,63,56,0.96);
    z-index: 2;
}

.menu-close {
    position: relative;
    line-height: 70px;
    float: left;
    margin-left: 25px;
}

.menu-close i{
      color: #fff;
      cursor: pointer;
      font-size: 1.5rem;
}

.menu ul {
      margin: 0;
      padding: 0;
    list-style-type: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu ul li {
    padding-bottom: 50px;
}

.menu ul li .item {
      font-family: 'Noto Sans TC', sans-serif;
      color: #fff !important;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.1s ease-in 0.1s;  
}

.menu ul li a:hover {
    text-decoration: none;
    font-size: 1.7rem;
}

.media-menu {
    position: relative;
    top: 50%;
}

.media-menu ul li {
    display: inline-block;
    padding-right: 10px;
}

.hero-section {
    height: 100vh;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.hero-left {
    height: 100vh;
    background: #e9dad1;
    z-index: -1;
    position: relative;
}

.tagline {
    position: absolute;
    bottom: 130px;
    left: 40px;  
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5rem;
    color: #613f38;
    font-weight: 500;
}

.tagline span{
    font-family: 'Poiret One', cursive;
}

.shipping {
    position: absolute;
    bottom: 30px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 300;
}

.hero-right{
      height: 100vh;
      position: relative;    
}

.hero-image{
      width: 120%;
      position: absolute;
      left: -20%;
      top: 70%;
      transform: translateY(-70%);   
}

img {
    width: 100%;
}

.media {
    position: absolute;
    bottom: 20px;
    right: 0;
    margin-right: 20px;
}

.media ul {
    list-style: none;
}

.media ul li {
    display: inline-block;
    margin-right: 20px;
}

#heading {
      font-family: 'Noto Sans TC', sans-serif;
      font-size: 1.7rem;
      padding-bottom: 0;
      position: relative;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
      color: #613f38;
}

#heading::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #e9dad1;
}

.section {
    padding: 80px 40px;
}

.section .storyline {
      font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5rem;
}

.prod {
      margin-top: 20px;
}

.prod img{
      height: 400px;
      width: 100%;
      object-fit: cover;
      transition: all 0.2s ease-in 0.2s;
}

.prod img:hover  {
      transform: scale(1.02, 1.02);
}

#prod-desc {
      margin-top: 16px;
      font-size: 14px;
      font-weight: 300;
}

.section p.price {
      font-family: "Larsseit";
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 16px;
      margin-top: 10px;
      color: #613f38;
}

#old-price{
      margin-right: 10px;
      text-decoration: line-through;
      font-size: 0.9rem;
}

#new-price{
     color: darkred;
     margin-right: 10px;
}

#discount{
      color: darkred;
      border: 0.5px solid darkred;
      padding: 2px;
      font-size: 0.5rem;
}

.prod-list #prod-desc {
      font-family: 'Poiret One', cursive;
      color: #613f38;
}

.prod-sec {
      border-top: 1px solid rgba(0,0,0,0.1);
      border-bottom: 1px solid rgba(0,0,0,0.1);
}

.prod-img{
      height: 70vh;
}

.prod-img img{
      height: 100%;
      object-fit: cover;
      position: relative;   
}

.story .tagline{
      background-color: rgba(0,0,0,0.5);
      color: #fff;
      padding: 30px 60px;
      position: absolute;
      left: 0;
      bottom: 15%;
}

.link .button{
      color: #fff;
      font-family: 'Poiret One', cursive;
      display: inline-block;
      padding: 3px 20px;
      background-color: rgba(225,225,225,0.5);
      transition: all 0.2s ease-in 0.2s;
}

.link .button:hover{
      text-decoration: none;
      background-color: #fff;
      color: #613f38;
}

.shop{
      color: #613f38;
}

.shop .link .more{
      color: #fff;
      font-family: 'Poiret One', cursive;
      display: inline-block;
      padding: 3px 20px;
      background-color: rgba(97,63,56,0.5);
      transition: all 0.2s ease-in 0.2s;
      font-size: 1.5rem;
}

.shop .link .more:hover{
      background-color: #613f38;
      text-decoration: none;
}

.prod2 img{
      width: 100%;
      height: 300px;
      object-fit: cover;
}

.footer {
      padding: 30px 0;
      background: #e9dad1;
}

.block {
      margin-top: 40px;
}

.footer .media {
      top: 20px !important;
}

footer p {
      text-align: center;
      font-family: "Larsseit" !important;
      font-size: 14px !important;
      color: #613f38;
}

/* Product */

.modal .modal-content{
      border-radius: 0;
}

.modal-header .cow {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      padding: 50px;
}

.modal-header .row{
      height: 60vh;
      width: 100%;
}

.modal-header .mo-col{
      height: 100%;
}

.modal-header .mo-col:nth-child(2){
      height: 100%;
      padding-top: 60px;
      padding-left: 40px;
}

.modal-header img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.prod-opt #price {
      padding: 16px 0;
      font-family: "Larsseit";
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.5rem;
      color: #613f38;
}

.prod-opt #new-price{
      margin-right: 0;
}

.add-prod {
      margin: 50px 0;
}

.add-prod span {
      padding: 15px;
      background: #613f38;
      font-weight: 300;
      letter-spacing: 2px;
      color: #fff;
}

.add-prod a:hover {
      text-decoration: none;
}

#prod-name{
      font-family: 'Poiret One', cursive;
      color: #613f38;
      font-weight: 900;
}

.prod-opt #discount{
      margin-top: 15px;
      display: inline-block;
}

.prod-opt input{
      width: 40px;
}

.prod-opt input:focus {
      outline: none;
      border: 1px solid #613f38;
}

.prod-opt label{
      color: #613f38;
      margin-right: 10px;
}

/* Photo */

.hero {
      height: 40vh;
      background: #e9dad1;
      position: relative;
}

.hero .title{
      color: #fff;
      border: 1px solid #fff;
      font-family: 'Noto Sans TC', sans-serif;
      font-size: 1.7rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 7px 10px 5px 5px;
}

.hero .title::after{
      content: "";
      position: absolute;
      z-index: -1;
      top: 3px;
      left: -5px;
      right: 3px;
      bottom: -5px;
      border: 1px solid #fff;
}

.section.album{
      padding: 80px 200px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
}

.card-album .pic{
      object-fit: cover;
      width: 100%;
      height: 400px;
}

.card-album .pic:nth-child(1){
      margin-bottom: 10px;
}

.card-album .pic.one{
      height: 300px;
}

/* Story */

.bc-pic{
      background-image: url(images/bgimg.jpg);
      background-attachment: fixed;
      background-size: cover;
      padding: 200px 100px;
}

.black{
      background-color: rgba(97,63,56,0.7);
      margin: 0 auto;
      padding: 50px;
      width: 60%;
      font-family: 'Noto Sans TC', sans-serif;
      font-size: 1.5rem;
      color: #fff;
      font-weight: 500;
      text-align: justify;
}

.black span{
      font-family: 'Poiret One', cursive; 
}

/* Contact */

.contact{
      padding: 100px;
}

#map {
      height: 400px;
      width: 100%;
}

.gm-style-cc, .gm-control-active, .gm-style-mtc{
      display: none;
}

.about-hero .content p{
      font-family: 'Noto Sans TC', sans-serif;
      font-size: 1.5rem;
      color: #613f38;
}

form label, textarea {
      font-family: "Larsseit";
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #613f38;
}

.form-control {
      box-shadow: none !important;
}

form input, textarea {
      border-radius: 0 !important;
}

form input:focus, textarea:focus {
      outline: none !important;
      border: 2px solid #613f38 !important;
}

.add-prod a {
      padding: 15px 25px;
      background: #613f38 ;
      font-weight: 300;
      letter-spacing: 4px;
      color: #fff !important;
      text-decoration: none;
}

form .add-prod span{
      padding: 15px 25px;
}

@media(max-width:1200px){
      .hero-left .tagline{
            font-size: 0.9rem;
      }
      .hero-image {
            width: 105%;
            left: -5%;
      }
      .menu ul li {
            padding-bottom: 30px;
        }
      .menu ul li .item, .story .tagline, .section .storyline, .shop .link .more, .prod-opt #price, .hero .title{
            font-size: 1rem;
      }
      .modal-header .row{
            height: 40vh;
            overflow: auto;
      }
      .cow{
            display: none;
      }
      .modal-header .mo-col:nth-child(2){
            padding-left: 70px;
      }
      #prod-name{
            font-size: 1.5rem;
      }
      .add-prod{
            font-size: 0.5rem;
      }
      .section.album{
            padding: 80px 40px;
      }
      .black{
            font-size: 1rem;
            width: 100%;
      }
      .about-hero .prod{
            margin-bottom: 40px;
      }
}

@media(max-width:767px){
      .hero-left .tagline{
            font-size: 0.5rem;
            position: absolute;
            top: 130px;
            left: 5px;
      }
      .hero-image {
            width: 102%;
            left: -2%;
      }

      .brand span .logo {
            font-size: 1.5rem;
      }
      .story .tagline {
            bottom: 20px;
      }
      .prod2 img{
            height: 90px;
      }    
      .modal-header .row{
            height: 60vh;
      }
      .hero{
            height: 50vh;
      }
      .card-album .pic:nth-child(2) {
            margin-bottom: 10px;
      }
      .bc-pic, .contact{
            padding: 60px 25px;
      }
}